<div class="home-container">
	<div class="add-notice-container">
		<div class="form-container">
			<div class="input-row">
				<label>标题:</label>
				<div class="input-text"><input type="text" ng-model="formData.ntc_title"/></div>
				<span>(字数不超过30字)</span>
			</div>
			<div class="input-row">
				<label>校区:</label>
				<div my-select which-school="formData.ntc_sch" select-options="schools"></div>
			</div>
			<div class="input-row">
				<label>时间:</label>
				<div class="link-select" date-select which-date="formData.ntc_start"></div>
				<i class="to-icon-select"></i>
				<div class="link-select" date-select which-date="formData.ntc_end"></div>
			</div>
			<div class="textarea-content">
                <label>内容:</label>
                <textarea  ng-model="formData.ntc_content"></textarea>
            </div>
            <div class="submit-btn"><button type="button" ng-click="submitData()">发布</button></div>
		</div>
		
	</div>
</div>