<div class="home-container">
	<div class="form-container">
		<div class="login-container">
			<header>登录</header>
		
			<div class="input-row">
				<label>编号</label>
				<div class="input-text">
					<input type="text" placeholder="请输入编号" ng-model="user.user_id" required>
				</div>
			</div>
			<div class="input-row">
				<label>密码</label>
				<div class="input-text">
					<input type="password" placeholder="请输入密码" ng-model="user.user_pwd" required>
				</div>
			</div>
			<div class="submit-btn"><button type="button" ng-click="login()">登录</button></div>
		
		</div>
	</div>
</div>