<div class="finance-container">
	<div class="form-container form-container-bg add-course-form">
		<div class="input-row">
            <label>校区</label>
            <div my-select select-options="options.schools" which-school="formData.school"></div>
        </div>
        <div class="input-row">
            <label>日期</label>
            <!-- <div class="input-text text-no-border">{{formData.date}}</div> -->
            <div select-no-id select-options="options.date" which-item="formData.in_date"></div>
        </div>
        <div class="input-row">
            <label>类型</label>
            <div select-item select-options="options.type" which-item="formData.type"></div>
        </div>
         <div class="input-row">
            <label>支付方式</label>
            <div class="link-select" link-select select-options="options.pay_method" first-one="formData.pay_method" second-one="formData.pay_to"></div>
        </div>
        <div class="input-row">
            <label>金额</label>
            <div class="input-text"><input type="text" name="" placeholder="请输入具体金额" ng-model="formData.sum"/></div>
        </div>
        <div class="input-row">
            <label>经手人</label>
            <div class="input-text text-no-border">{{formData.charge_name}}</div>
        </div>
        <div class="input-row">
            <label>摘要</label>
            <div class="input-text"><input type="text" name="" placeholder="请输入摘要" ng-model="formData.abstraction"/></div>
        </div>
        <div class="submit-btn"><button type="button" ng-click="addIncome()">完成</button></div>
	</div>
</div>